.todo-add {
    &__input {
        padding: 10px 16px;
        outline: none;
        display: inline-block;
    }
    &__button {
        padding: 13px 19px;
        background: #efefef;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
    }
}